<!--  parts of this code were obtained and modified to the programs needs from 
[1]“Build an Inventory Management System with Python and Django - Overview,” 
www.youtube.com. https://www.youtube.com/watch?v=axGWgK2ep4Q&list=PLWwo7xJYACuQ2tVSIzAarcUvNlR3oTk-w&index=1 (accessed Mar. 30, 2024).  -->

{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row" style="background-color:#C0C0C0;">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h4 class="card-title mb-3">Item Issue Form</h4>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputItem" class="form-label">Item Name</label>
                        {% render_field form.item class="form-control" %}
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputAmount" class="form-label">Issue Amount</label>
                        {% render_field form.amount class="form-control" %}
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputIssue" class="form-label">Issued To</label>
                        {% render_field form.issued_to class="form-control" %}
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputDepartment" class="form-label">Department</label>
                        {% render_field form.department class="form-control" %}
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputDate" class="form-label">Return Date</label>
                        {% render_field form.date_return type="date" class="form-control" %}
                    </div>

                    <button type="submit" class="btn" style="background-color:#40B5AD">Submit</button>
                
                </form>                
            </div>
        </div>
    </div>
</div>

{% endblock content %}