<!--  parts of this code were obtained and modified to the programs needs from 
[1]“Build an Inventory Management System with Python and Django - Overview,” 
www.youtube.com. https://www.youtube.com/watch?v=axGWgK2ep4Q&list=PLWwo7xJYACuQ2tVSIzAarcUvNlR3oTk-w&index=1 (accessed Mar. 30, 2024).  -->

{% extends 'base.html' %}

{% block content %}

<div class="card mx-auto" style="width: 76rem;" style="background-color:#C0C0C0;">
    <div class="card-body">
        <h5 class="card-title mb-3">Item Restock History </h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Amount Restocked</th>
                    <th scope="col">Date Restocked</th>
                    <th scope="col">Initial Value</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                <tr>
                    <td>{{item.item}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.original_value}}</td>

                </tr>
                {% endfor %}
            </tbody>

        <!-- Button to add another Item-->
        <a href="{% url 'restock-item' %}" class="btn" style="background-color:#40B5AD" role="button">Restock Another Item</a>
        
        <!-- Button to add another Item-->
        <a href="{% url 'add-item' %}" class="btn" style="background-color:#40B5AD" role="button">Add New Item</a>

        </table>
    </div>
</div>

{% endblock content %}