<!--  parts of this code were obtained and modified to the programs needs from 
[1]“Build an Inventory Management System with Python and Django - Overview,” www.youtube.com 
https://www.youtube.com/watch?v=axGWgK2ep4Q&list=PLWwo7xJYACuQ2tVSIzAarcUvNlR3oTk-w&index=1 (accessed Mar. 30, 2024).  -->


{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1 class="display-5 fw-bold text-center">JT's Sports Equipment</h1>
    <br>

    <!-- <img src="./images/AdrianSeal.png" alt="Description of the image"></img> -->
    <!-- Removed code to try and connect chart-->

    <h5 class="text-center"> This is the dashbaord </h5>
</div>

{% endblock content %}