<!--  parts of this code were obtained and modified to the programs needs from 
[1]“Build an Inventory Management System with Python and Django - Overview,” 
www.youtube.com. https://www.youtube.com/watch?v=axGWgK2ep4Q&list=PLWwo7xJYACuQ2tVSIzAarcUvNlR3oTk-w&index=1 (accessed Mar. 30, 2024).  -->


{% extends 'base.html' %}

{% block content %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Inventory Buddy</h1>
            <br>
            <!-- <img src='images/two.png' alt='inventory image'> -->
            <!-- Graph code not working -->
            <br>
            <h6 class='container text-center'> Welcome to the best way to keept track of your companys inventory.
                Easy use allows customers to stay on top of their stock!
            </h6>



        </div>
    </div>
</section>

{% endblock content %}